*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #e6edf4;
}


.header {
    /* background-color: #0892b4; */

    height: 40px;

}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    min-height: 40px;

    background-color: #e6edf4;
    position: fixed;
    top:0;
    left: 0;


    -webkit-box-shadow: 0px 4px 5px 0px rgba(8,146,180,0.46);
    -moz-box-shadow: 0px 4px 5px 0px rgba(8,146,180,0.46);
    box-shadow: 0px 4px 5px 0px rgba(8,146,180,0.46);
    

}



.nav a {
    /* color: #e6edf4; */
    color: #364e68;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    padding-right: 20px;
}

.nav a:hover {
    color: #0892b4;
    font-weight: 500;
}