footer {
    height: 80px;
    width: 100%;

    background-color: #0892b4;
    color: #e6edf4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: flex-end;
}

.social-media {
    padding: 20px;
}
.icons {
    text-align: center;
}







